
@media (max-width: 1111px){
    .logo{
        height: 40px;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        width: 100%;
    }
    .icon__burger {
        margin: 0 1.5em 0 0;
    }
    .header__burger { 
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        left: 0;
        background-color: rgba(131, 179, 206);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: rgba(131, 179, 206);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 100px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
        transition: all 0.3s ease 0s;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin: 0 0 20px 0;
    }
    .header__link {
        font-size: 23px;
    }
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .content {
        padding: 70px 0 0 0;
    }
    .contact__yandex__zone {
        flex-direction: column;
    }
    .yandex__rewers, .yandex__map, iframe {
        max-height: 70vh;
    }
    .img__temps {
        max-width: 90vw;
    }
}